@use '../placeholders/root.scss';

.about-me {
    margin-block: .8rem 1.3rem;
    padding-inline: 1rem;

    &__profile {
        width: 10rem;
        border-radius: .5rem;
        float: right;
    }

    &__title {
        font-size: 1.3em;
        margin-bottom: .3rem;
        font-weight: 550;
    }

    &__text {
        font-size: .75em;
    }
}

.skills {
    padding-inline: 1rem;

    &__heading {
        font-size: 1em;
        font-weight: 500;
    }

    &__list {
        list-style: none;
        margin-top: .5rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        &-item {
            font-size: .75em;
            padding: .3rem .5rem;
            background-color: root.$transparent-black;
            border-radius: .8rem;
        }
    }
}

@media screen and (min-width: 670px) {
    .about-me, .skills {
        width: 41.875rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}