@use '../placeholders/root.scss';

body.dark {
    background-color: root.$grey-blue;
    color: root.$white;

    a {
        color: root.$white;
    }

    .header {
        border-bottom: 3px solid root.$dark-grey;

        &__list-item:hover {
            border-top: 2px solid root.$purple;
        }
    }

    h1 {
        color: root.$light-purple;
    }

    h2 {
        color: root.$white;
    }

    .home__link {
        background-color: root.$purple;

        &:hover {
            background: none;
            border: 2px solid root.$purple
        }
    }

    .skills__list-item {
        background-color: root.$purple;
    }

    .project:not(:last-of-type) {
        border-bottom: 3px solid root.$purple;
    }

    .footer {
        background-color: root.$dark-grey;
    }
}