@use '../placeholders/root.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    margin-inline: .5rem;
    border-bottom: 3px solid root.$light-purple;

    &__logo {
        width: 4rem;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        list-style: none;

        &-item {
            font-size: .87em;
        }
    }
}