@use '../placeholders/root.scss';

.home {
    margin-top: 1rem;
    padding-inline: 1rem;

    &__heading {
        font-size: 1.3em;
        font-weight: 550;
    }

    &__sub-heading {
        font-size: .87em;
    }

    &__text {
        font-size: .75em;
        margin-bottom: .8rem;
    }

    &__link {
        font-size: .75em;
        padding: .3rem .5rem;
        background-color: root.$transparent-black;
        border-radius: .8rem;
        color: root.$black;
        
        &:hover {
            transition: 200ms;
            background: none;
            border: 2px solid root.$transparent-black;
        }
    }
}

@media screen and (min-width: 670px) {
    .home {
        width: 41.875rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}